nav{
background-color:black;
text-align:left;
z-index:1;
position:fixed;
top:0;
width:100%;
}
nav a
{
padding:1vw;
display:inline-block;
text-decoration:none;
color:white;
font-size:18px;
}
nav a:hover{
background-color: rgb(255,255,255,0.5);
color:#ffffff;
}
.active{
  background-color:green;
color:white;
   
}
.dropdown {
display:inline-block;
}
.dropbtn:hover{
background-color: rgb(255,255,255,0.5);
color:#ffffff;
}

.dropbtn {
  font-size: 18px;  
  color: white;
outline:none;
border:none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn1{
  font-size: 18px;  
  color: white;
outline:1px solid white;
border:none;
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn1:hover{
background-color: rgb(255,255,255,0.5);
color:#000;
}
select
{
  display:inline- block;
  
background-color:inherit;
color:black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
drop-content{
display: none;
  position: absolute;
  background-color:black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
color:black;
}
.bday{
background-color: inherit;
border:none;
border-bottom:1px solid white;
color:#fff;
outline:none;
line-height:20px;
font-family: inherit;
font-size: 18px;
opacity:0.5;  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
option{
background-color:rgb(16, 203, 181,0.5);
color:black;}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
option:hover{
background-color: rgb(255,255,255,0.5);
color:#000;
}
.dropdown-content a:hover {
  background-color: rgb(255,255,255,0.5);

}
.dropdown:hover .dropdown-content {
  display: block;
}
::placeholder{
color:white;
opacity:0.5;
}
body{
 margin: 0;
    padding:0;
    background: url(background/bicycle.jpg)no-repeat fixed;
    background-size: cover;
    font-family: sans-serif;
}

.p{ padding-top: 10px;
padding-bottom: 30px;
}


.login-box{
    width: 320;
    height:420;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 30%;
    left: 50%;
    right: 15%;
    margin-bottom:5%;
    position:absolute;
    transform: translate(-50%,-10%);
    padding-top:5vh;
    padding-bottom:3vh;
}
.loginman {
    width: 40%;
    border-radius: 50%;
 }
.login-box input{
height:50%;
    width: 50%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"], input[type="email"], input[type="tel"]

{
    border: none;
    border-bottom: 1.5px solid white;
    background: transparent;
    outline:#fff;
    height: 20px;
    color:#fff;
    font-size: 16px;
}


.login-box input[type="submit"], input[type="reset"]
{
    border: none;
    outline: none;
    height: 35px;
    width: 120px;
    background:orange;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
    margin:20px;
}

.login-box input[type="submit"]:hover{
    cursor: pointer;
    background:blue;
    color:white;
    opacity: 0.8;
}
.login-box input[type="reset"]:hover{
    cursor: pointer;
    background:blue;
    color:white;
}
.login-box a{
    padding:10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}